.friendList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.listItem {
    
    width: 120px;
    padding: 32px;
    padding-right: 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #fff;

  }
  
  .name {
    font-size: 26px;
    font-weight: 500;
    /* line-height: 0.1;
    letter-spacing: 0.02em; */
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  .online {
    color: green;
  }
  
  .offline {
    color: red;
  }